pandas==2.2.3
tabulate2==1.9.2
seaborn==0.13.2
squarify==0.4.4
yellowbrick==1.5
scikit-learn==1.5.2
category_encoders==2.6.4
statsmodels==0.14.4
catboost==1.2.7
lightgbm==4.5.0
xgboost==2.1.1
optuna==4.0.0
